<div [hidden]="resultIndex == null">
  <mat-divider></mat-divider>
  <br />
  <p>{{ resultIndex }}番目です</p>
  <p>
    <span *ngFor="let number of numberList; index as i">
      <span *ngIf="i !== 0">, </span>
      {{ number }}
    </span>
  </p>
</div>